html, body {
    /*background-color: antiquewhite;*/
    background-image: url(images/design-tools.jpg);
    margin: 0 auto;
}
header h1 {
    padding-top: 10px;
}
h1 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin: 0;
    text-align: center;
    padding-bottom: 5px;
    grid-row: 1;
}
h2 {
    text-align: left;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}
aside {
   display: block;
   width: 25%;
   margin: 15px;
   float: right;
   padding-top: 35px;
   display: grid;
   grid-template-columns: repeat(2, 2fr);
}
img {
    padding-top: 30px;
    max-height: 250px;
    min-height: 250px;
    position: relative;
}
img:nth-of-type(1) {
    grid-row: 3;
    padding-bottom: 136%;
}
img:nth-of-type(2) {
    grid-row: 2;
    padding-left: 34px;
    padding-bottom: 80px;
}

article {
    margin: 15px;
    padding: 15px;
    display: block;
    float: left;
    width: 60%;
}
section {
    margin: 25px;
    padding: 20px;
    outline-color: turquoise;
    outline-style: ridge;
    outline-width: 4px;
    background-color: antiquewhite; 
    padding-bottom: 30px;
}
footer { 
    font-weight: bold;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    position: inherit;
    float: left;
}
section footer {
    color: black;
    text-shadow:
    0px 0px 0 rgb(255, 255, 255),  
    0px 0px 0 rgb(255, 255, 255),
    0px 0px 0 rgb(255, 255, 255),
    0px 0px 0 rgb(255, 255, 255);
    position: relative;
}


nav {
    margin: 10px;
}
nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1    px solid #888;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
   
nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    padding-right: 15px;
    padding-left: 15px;
}
   
nav a:hover {
    background-color: #005f5f;
}
   
nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
a {
    text-decoration: none;
    color: darkblue;
}